/* JMSans - Regular (body text) */
@font-face {
  font-family: jmsans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/JMSansRegular.woff2') format('woff2');
}

/* JMSans - Medium (headings) */
@font-face {
  font-family: jmsans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/JMSansMedium.woff2') format('woff2');
}
